extends layout

block content
  div(id="wrap")
    section(id="page")
      h1 #{title}
      #articles
        -each article in articles
          div.article
            div.created_at
              p.article_value #{article.created_at}
            div.title
              p.article_value
                a(href="/blog/" + article._id)
                  | #{article.title}
            div.body
              p.article_value #{article.blog}

            div.delete
              form(class="form", method='post', action='/deleteBlog')
                input(type='text', value=article._id, name='_id')
                input(type='submit', value='delete')
            div.update
              form(class="form", method='post', action='/update/' + article._id)
                input(type='submit', value='update')
